body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: 'Arial', sans-serif; 
  color: #e0d3ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}





#bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.container {
  max-width: 900px;
  width: 90%;
  margin: 90px auto 0 auto;
  padding: 40px;
  background: rgba(10, 0, 20, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(150, 90, 255, 0.2);
  box-sizing: border-box;
  animation: fadeIn 1.2s ease-out forwards;
  text-align: center;
  color: #e6d4ff;
}


button {
  padding: 12px 30px;
  font-size: 1em;
  border: none;
  border-radius: 30px;
  background: linear-gradient(145deg, rgba(0, 0, 0, 0.7), rgba(224, 212, 230, 0.6));
  color: #fff0fa;
  cursor: pointer;
  box-shadow: 0 0 12px #d6b6ff;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  background: linear-gradient(145deg, #000000, rgba(20, 1, 29, 0.6));
  box-shadow: 0 0 18px #f5e0ff;
}

h1 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 2.8em;
  margin-bottom: 20px;
  color: #dfc7ff;
  text-shadow: 0 0 8px #0a021a;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 30px;
  text-shadow: 1px 1px 4px #000;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 900px) {
  .container {
    margin: 60px auto 0 auto;
    width: 90%;
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .container {
    margin-top: 40px;
    padding: 20px;
  }

  h1 {
    font-size: 2em;
  }

  button {
    font-size: 0.9em;
    padding: 12px;
  }

  .box {
    grid-template-columns: 1fr;
  }
}

